<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login_register.css">
    <link rel="stylesheet" href="/css/navbar.css">

  <script>
    if (!locals.name) locals.name = "";
    if (!locals.email) locals.email = "";
  </script>

</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/resources/logo.png" style="height: 40px; margin-right: 5px;"> Meets</img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-right: 5px;">
              <a class="nav-link" href="/login">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>

  <% if(typeof errors != 'undefined') { %>
    <% errors.forEach(error => { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error.message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% }) %>
  <% } %>

  <% if(messages.error) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= messages.error %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>

  <div class="outside-container signup-container" id="container">
    <div class="form-container">
      <form action="/register" method="POST">
        <h1>Create Account</h1>
        <input name="name" id="name" type="text" placeholder="Full Name" value="<%= locals.name %>" />
        <input name="email" id="email" type="email" placeholder="Email" value="<%= locals.email %>" />
        <input name="password" id="password" type="password" placeholder="Password" />
        <input name="password2" id="password2" type="password" placeholder="Confirm Password" />
        <button class="form-button">Sign Up</button>
        <p>Already have an account? <a href="/login">Sign in</a></p>
      </form>
    </div>
  </div> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>