@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

video {
  height: 300px;
  width: 400px;
  border-radius: 5px;
  object-fit: cover;
  border: 3px solid #9795EF;
  margin: 10px;
}

.video-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  display: flex;
}

.main_left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

#main_right_chat {
  flex: 0.2;
}

#main_right_participants {
  flex: 0;
  display: none;
}

.main_videos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353839;
}

/* .main_controls {
  display: flex;
  background-color: #1C1C11;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
} */

.main_controls {
  display: flex;
  color: rgb(26, 24, 24);
  padding: 7px;
  justify-content: space-between;
  position: absolute;
  z-index: 200;
  bottom: 3rem;
  align-self: center;
  border-radius: 5px;
  width: fit-content;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}

.main_controls_block {
  display: flex;
}

.main_controls_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main_controls_button i {
  font-size: 24px;
}

.main_controls_button i:hover {
  /* background-color: #343434;
  border-radius: 5px; */
  color: #343434;
}

.leave_meeting {
  color: #da2c23;
  font-weight: bold;
}

.main_right {
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main_header {
  color: #f5f5f5;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
}

.main_chat_window {
  flex-grow: 1;
  overflow-y: scroll;
  font-size: 16px;
  padding: 10px 0;
}

.main_message_container {
  padding: 22px 5px;
  display: flex;
}

.main_message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.messages, .participants {
  letter-spacing: 1px;
  color: #f5f5f5;
  list-style: none;
  padding: 14px;
}

/* .unmute, .stop {
  color: #da2c23;
} */

#chat_message {
  border-bottom: 1px solid #f5f5f5;
}

#chat_message:focus {
  outline: none;
}

.time {
  margin-left: 10px;
  font-size: 12px;
  color: rgb(197, 193, 193);
}

#leave_meeting {
  text-decoration: none;
}

#leave_meeting:hover {
  text-decoration: none;
}

#leave_meeting:focus {
  text-decoration: none;
}

.bg-dark-alert {
  color: #fff;
  background-color: black;
}

.rh {
  position: fixed;
  top: 1em;
  left: 1em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 200px; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}