body {
  margin: 0;
  padding: 0;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

video {
  height: 300px;
  width: 400px;
  border-radius: 5px;
  object-fit: cover;
  border: 3px solid rgb(39, 39, 124);
  margin: 10px;
}

.video-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  display: flex;
}

.main_left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main_right {
  flex: 0.2;
}

.main_videos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* .main_controls {
  display: flex;
  background-color: #1C1C11;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
} */

.main_controls {
  display: flex;
  background-color: #1C1C11;
  color: #d2d2d2;
  padding: 7px;
  justify-content: space-between;
  position: absolute;
  z-index: 200;
  bottom: 3rem;
  align-self: center;
  border-radius: 5px;
  width: fit-content;
}

.main_controls_block {
  display: flex;
}

.main_controls_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main_controls_button i {
  font-size: 24px;
}

.main_controls_button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.leave_meeting {
  color: #EB534B;
  font-weight: bold;
}

.main_right {
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main_header {
  color: #f5f5f5;
  text-align: center;
}

.main_chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main_message_container {
  padding: 22px 12px;
  display: flex;
}

.main_message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.messages {
  color: white;
  list-style: none;
}

.unmute, .stop {
  color: #EB534B;
}